{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="row p-5" id="featured" data-aos="fade-down-right">
    <div class="col-md-12 text-center">
        <h2 class="text-uppercase fw-bold"><span class="text-info">{{ type }}</span> Books</h2>
        <p class="text-dark fw-bold bg-info" >" A good book shop is not just about selling books from shelves, but reaching out into the world and making a difference. "</p>
    </div>
    
    <div class="row p-4">
    {% for pro in b %}
        
        <div class="col-md-4 p-5">
            <div class="col-md-12 featureddiv">
                <div class="text-center">
                    <img src="/media/{{ pro.photo }}"  />
                </div>
                <div class=" bg-dark text-light p-1">
                    <h4>{{ pro.name }}</h4>
                    <div class="d-flex text-danger">
                        <h2 class="pe-4">&#8377;{{ pro.sellingprice }}</h2>
                        <h4 class="text-decoration-line-through ">&#8377; {{ pro.mrp }}</h4>
                    </div>
                    <a href="/bookdetail/{{ pro.id }}"><button class="btn btn-info text-light fw-bold rounded-5">View details</button></a>
                </div>
                
            </div>
        </div>
    
    {% endfor %} 

    </div>

</div>

{% endblock %}