{% extends 'base.html' %} 
{% load static %}
{% block content %}




<div class="p-5">       
    <div class="col-md-12 p-3">
        <h2>Payments</h2>
    </div>
    <div class="p-3"> 
        <h4>Razorpay Payments:</h4>  
        <p>We accept all Razorpay payments, both Indian and International. Click on the "Add to cart" button and click on "Pay Now" button.  We also accept general mode of payments.</p>
        <h5 class="fw-bold">We also accept general mode of payments.</h5>
    </div>       
</div>

{% endblock %}