{% extends 'base.html' %} 
{% load static %}
{% block content %}




<div class="p-5">       
    <div class="col-md-12 p-3">
        <h2>Privacy and Policy</h2>
    </div>
    <div class= "p-3"> 
         
        <p>Bookly.com website places special focus on maintaining their customers’ privacy. We collect personal data to enhance customer experience and to improve our products and services. Following is information regarding how we use the collected data:</p>
        <h5>1. The data which is collected</h5>
        <ul>
        <p>Data is collected in the following forms:</p>
        <p>Identity data – this includes your name, language, contact information, location, etc.</p>
        <p>Transaction details – this includes payment or card data, orders and returns, purchase history and details, etc.</p>
        <p>Geolocation data – If you interact with us using your phones, this data is collected.</p>
        <p>Commercial Information – If you have subscribed to our newsletter or promotional emailer.</p>
        <p>Preferences – this includes data pertaining to your tastes and preferences.</p>
        <p>Browser information and IP address</p>
        <p>When you are asked to fill your details, some fields will be marked compulsory as they are necessary for us to provide the products or services in question. If such data is not provided to us, the user may not be able to fully access or enjoy the required functionalities or services.</p>
        </ul>
        <h4>2. What the collected data is used for</h4>
        <p><ul>Your data will be used by us primarily for managing your registration, processing your purchases of our products and services, responding to your queries and clearing your doubts, and, if the customer wishes, to send them customized communications.</ul></p>

        <h4>3. Who the information is shared with</h4>
        <ul>
        <p>Bookswagon.com handles the personal data collected by the users with immense sensitivity and care. We safeguard all the personal information shared with us and only share it with third party service providers which help us in catering to your needs. Apart from this, your information is only shared when:</p>
        <p>The information is required by a reliable partner. In this case, the partner is obligated to agree to our terms and conditions along with signing of a confidentiality agreement.</p>
        <p>Required by the court of law. We will provide the demanded information asked of us in any legal processes pertaining to us.</p>
        </ul>
        <h4>4. Data integrity</h4>
        <ul>
        <p>Bookly collects and processes customers’ personal information in accordance with the privacy policy. We ensure that the data collected and processed by us is used only to provide efficient services to the customer. Therefore, we urge our users to provide accurate information while availing our services.</p>
        </ul>
        <h4>5. Personal Information</h4>
        <ul>
        <p>The functionality of this website requires the users to provide their contact information (phone number, email address, etc.) as well as their personal information (name, display picture, address, etc.). This collected user data is used solely to provide the users with effective customer service and to effectively market and to sell or deliver the property of sellers to buyers and to otherwise provide professional services to clients and customers. Bookly does not sell, transfer, exchange, trade, or disclose your personal information with any outside parties, except when we believe that the law requires it.</p>
        </ul>
        <h4>6. Security & Confidentiality</h4>
        <ul>
        <p>Our systems are designed keeping in mind the security and privacy of the data that is shared with us.</p>
        <p>Encryption protocols and software’s are used while transmitting personal information.</p>
        <p>PCI DSS (Payment Card Industry Data Security Standard) is followed while handling Razorpayment data.</p>
        <p> We offer additional security features on devices to safeguard against unauthorized access and loss of data.</p>
        </ul>
        <h4>7. Choices the customer has</h4>
        <ul>
        <p>Customers have the option to opt out of our newsletter and emailing services whenever they desire.
            They have the option to not provide certain information, but this might affect the customer experience.
            They can add or update previously provided information.
            They can adjust advertising preferences to stop seeing interest-based ads.
            They can choose to block or reject cookies and other identifiers on their browser or devices.</p>
        </ul>
        <h4>8. Contacting Bookswagon.com</h4>
        <ul>
        <p>If there are any changes that you would like to make in your current information, then do remove your previous contact details so that you don’t get any updates in your old contacts.</p>
        </ul>
    </div>       
</div>

{% endblock %}